@page
@using Microsoft.AspNetCore.Http
@model Gallery.Pages.ShowImageModel
@{
}
@if (Model.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}
else
{
    <img class="d-block mx-auto" src="data:@Model.Photo.ContentType;base64,@Model.base64img" alt="@Model.Photo.OriginalName" />

    if (Model.comments.Count == 0)//CHANGE THIS to ==
    {

        <p>no comments</p>
        <form asp-page="EditComment" method="post">
            <input name="cAction" type="hidden" value="add" />
            <input name="guid" type="hidden" value="@Model.Photo.Id.ToString()" />
            <input name="content" class="form-control form-control-sm" type="text" placeholder="Comment">
            <button type="submit" class="btn btn-secondary mb-2">Reply</button>
        </form>
    }
    else
    {
        <div>
            @Html.Raw(Model.HtmlComments);
        </div>
        @*<ul>
                <li>
                    <div>
                        <span class="d-block"><strong>Username</strong></span>
                        <span>Text bla bla bla.</span>

                        <form asp-page="EditComment" method="post">
                            <input name="guid" type="hidden" value="delete" />
                            <input name="guid" type="hidden" value="COMMENT-ID" />
                            <button type="submit" class="btn btm-danger">Reply</button>
                        </form>

                        <form asp-page="EditComment" method="post">
                            <input name="guid" type="hidden" value="add/reply" />
                            <input name="guid" type="hidden" value="COMMENT-ID" />
                            <input name="content" class="form-control form-control-sm" type="text" placeholder="Comment">
                            <button type="submit" class="btn btn-secondary mb-2">Reply</button>
                        </form>
                    </div>
                    <ul>
                        <li>
                            <span class="d-block bold"><strong>Username</strong></span>
                            <span>Text bla bla bla.</span>
                            <form asp-page="EditComment" method="post">
                                <input name="cAction" type="hidden" value="COMMENT-ID" />
                                <input name="guid" type="hidden" value="COMMENT-ID" />
                                <input name="content" class="form-control form-control-sm" type="text" placeholder="Comment">
                                <button type="submit" class="btn btn-secondary mb-2">Reply</button>
                            </form>
                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ul>
                </li>
            </ul>*@
    }
}
